/* body{
    background-color: rgb(7, 47, 67);
} */
.parent{
    width: 90%;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}
h1{
    text-align: center;
    margin: 20px 0 20px 0;
}
input{
    width: 100%;
}
.btn-class{
    width: 40%;
    margin: auto;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.details{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin: auto;
    display: none;
}
@media(max-width:500px){
    .details{
        width: 90%;
    }
}