.section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: auto;
}
.main-section{
    width: 90%;
    margin: auto;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
footer{
    text-align: center;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}